<h3>New user!</h3>



<%= form_for @user do |field| %>
<div>
  <%= field.text_field :first_name, placeholder: 'First name' %>
  <%= field.text_field :last_name, placeholder: 'Last name' %>
<div>
  <%= field.text_field :email, placeholder: 'Email' %>
</div>
<div>
  <%= field.password_field :password, placeholder: 'Password' %>
</div>
<div>
  <%= field.submit 'Sign Up' %>
</div>
<% end %>
