<h3>Show Library!</h3>

<%= form_for @library, url: "/libraries/@library.id", method: "edit" do |field| %>
<div>
  <%= field.text_field :name, placeholder: @library.name %>
</div>
<div>
  <%= field.number_field :floor_count, placeholder: @library.floor_count %>
</div>
<div>
  <%= field.number_field :floor_area, placeholder: @library.floor_area %>
</div>
<div>
  <%= field.submit 'Edit' %>
</div>
<% end %>
